
  <td>{{update-game}}</td>
  <td>{{#link-to 'rosters'}}{{game.home_team_id.name}}{{/link-to}}</td>
  <td>{{#link-to 'rosters'}}{{game.away_team_id.name}}{{/link-to}}</td>
  <td>{{game.home_goals}}</td>
  <td>{{game.away_goals}}</td>
  <td>{{game.date}}</td>
  <td>{{game.time}}</td>

{{yield}}
