<td><button class='btn btn-default1' {{action 'createGame'}}>Add Game</button></td>
<td>{{input placeholder= 'Home Team' valueBinding='newGame.home_team_id'}}</td>
<td>{{input placeholder= 'Away Team' valueBinding='newGame.away_team_id'}}</td>
<td>{{input placeholder='home goals' valueBinding='newGame.home_goals'}}</td>
<td>{{input placeholder='away goals' valueBinding='newGame.away_goals'}}</td>
<td>{{input placeholder='date' valueBinding='newGame.date'}}</td>
<td>{{input placeholder='time' valueBinding='newGame.time'}}</td>
<td></td>
{{yield}}
