<h1>{{model.teams.name}}</h1>
<h4>Captain: {{model.teams.user_id.first_name}} {{model.teams.user_id.last_name}}</h4>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>

    <tbody>
      {{#each model.teams.rosters as |player|}}
      <tr>
        <td>{{player.user_id.first_name}}</td>
        <td>{{player.user_id.last_name}}</td>
        {{!-- <td>{{player.user_id.stats}}</td> --}}
        <td></td>
      </tr>
      {{/each}}

    </tbody>

  </table>
</div>
{{outlet}}
